@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300;500;900&display=swap');
$primary-color:rgb(174, 210, 211);
*{
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}
.title{
  font-family: 'Bangers', cursive;
  background-color: black;
  color: $primary-color;
  font-size: 50px;
  margin: 0;
}
main{
  font-family: 'Roboto', sans-serif;
}
img{
  width: 100%;
}